a{
    text-decoration: none; 
}

#Background{
    background-color: rgb(68, 71, 62);
    color: rgb(0, 0, 0);
    width: 1400px;
    margin-right: auto;
    margin-left: auto;   
}

#Description{
    text-align: center;
}

#Header{
    color: rgb(68, 68, 223);
    text-align: center;
}